<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andoidproject">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndoidProject">
        <activity android:name=".QuizzvueActivity"></activity>
        <activity android:name=".CultureGActivity" />
        <activity android:name=".FelicitationExoActivity" />
        <activity android:name=".ExerciceCalculActivity" />
        <activity android:name=".MenuexoActivity" />
        <activity android:name=".AcceuilActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".InscriptionActivity" />
        <activity android:name=".ParamexoActivity" />
        <activity android:name=".ExerciceMultiplicationActivity" />
        <activity android:name=".ErreurActivity" />
        <activity android:name=".FelicitationActivity" />
        <activity android:name=".TableMultiplicationActivity" />
        <activity android:name=".CompteActivity" />
        <activity android:name=".ConnectionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>